* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;   
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.speech-bubble{
    display:inline-block;
    clear: both;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  margin-top: -15px;
}

.speech-bubble.him:after {
  left: 0;
  border-right-color: inherit;
  border-left: 0;
  margin-left: -5px;
}

.speech-bubble.me:after  {
	right: 0;
	border-left-color: inherit;
	border-right: 0;
	margin-right: -5px;
}

.him{
  background: #eee;
  border-color: #eee;
  float: left;
}

.me{
  float: right;
  background: #1d9e0c;
  border-color: #1d9e0c;
}

.textarea {
  width: 800px;
  z-index: 99;
  margin-top: 15px;
}

.textarea input {
  position: fixed;
  bottom: 0px;
  width: inherit;
  min-height: 35px;
  z-index: 99;
}

.dummy-message-end {
  float: left;
  clear: both;  
}

.think {
  color: darkgrey;
}

.fade-message {
  opacity: 0.1;
  transition: opacity 1s linear;
}

.highlight {
  font-size: 110%;
  filter: brightness(90%);
}